<div id="loader" ng-if="model.globals.requestInProgress > 0">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="icon">
            <div class='uil-squares-css' style='transform:scale(0.6);'>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>