@import "../../style/const";
@import "../../style/mixin";

number-input {
  display: inline-block;

  .text-input {
    position: relative;
    width: 100%;

    > input {
      width: 100%;
      padding-right: 25px;
    }

    > .clear-btn {
      display: inline-block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
    }
  }

  .disabled {
    cursor: default;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    background: $color-white;
    opacity: 0.5;
  }
}

.field number-input {
  width: 100%;
}