$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-red: rgba(250, 150, 150, 1);

$color-grey-1: rgba(51, 51, 51, 1);
$color-grey-2: rgba(102, 102, 102, 1);
$color-grey-3: rgba(153, 153, 153, 1);
$color-grey-4: rgba(207, 216, 220, 1);
$color-grey-5: rgba(235, 235, 235, 1);
$color-grey-6: rgba(253, 253, 253, 1);

$color-0-1: rgba(20, 30, 60, 1);
$color-0-2: rgba(32, 80, 129, 1);

// Header colors
$color-header-0-1: rgba(32, 80, 129, 1);

// Color 1 (DATA)
//$color-1-1: rgba(0, 150, 138, 1);
//$color-1-2: rgba(174, 231, 226, 1);
//$color-1-3: rgba(194, 231, 228, 1);
//$color-1-4: rgba(240, 255, 254, 1);

//$color-1-1: rgba(0, 51, 153, 1);
$color-1-1: rgba(53, 114, 176, 1);
$color-1-2: rgba(172, 198, 223, 1);
$color-1-3: rgba(206, 223, 239, 1);
$color-1-4: rgba(230, 237, 245, 1);

// Color 2 (Statistics)
$color-2-1: rgba(90, 133, 234, 1);
$color-2-2: rgba(187, 212, 238, 1);
$color-2-3: rgba(207, 212, 240, 1);

// Color 3 (Reports)
$color-3-1: rgba(72, 171, 220, 1);
$color-3-2: rgba(159, 229, 250, 1);
$color-3-3: rgba(179, 229, 252, 1);


// Transparent
$color-trans-0: rgba(0,0,0, 0.8);
$color-trans-1: rgba(0,0,0, 0.6);
$color-trans-2: rgba(0,0,0, 0.4);
$color-trans-3: rgba(0,0,0, 0.2);
