/*
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black
*/

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src:  local('Maven Pro Regular'),
        local('MavenProRegular'),
        url(../asset/font/MavenProRegular.woff2) format('woff2'),
        url(../asset/font/MavenProRegular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src:  local('Maven Pro Medium'),
        local('MavenProMedium'),
        url(../asset/font/MavenProMedium.woff2) format('woff2'),
        url(../asset/font/MavenProMedium.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src:  local('Maven Pro Bold'),
        local('MavenProBold'),
        url(../asset/font/MavenProBold.woff2) format('woff2'),
        url(../asset/font/MavenProBold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*

.fn {
  font-family: "Maven Pro" !important;
  font-weight: 400 !important;
  letter-spacing: -1px;
}

.fsb {
  font-family: "Maven Pro" !important;
  font-weight: 500 !important;
  letter-spacing: -1px;
}

.fb {
  font-family: "Maven Pro" !important;
  font-weight: 700 !important;
  letter-spacing: -1px;
}