.icon-22x20 {
  display: inline-block;
  width: 22px;
  height: 20px;
}

.icon-all {
  background: url('../asset/icon/icon12_Search_All_22x20px.svg');
}

.icon-loaded {
  background: url('../asset/icon/icon13_Search_Loaded_22x20px.svg');
}

.icon-rejected {
  background: url('../asset/icon/icon14_Search_Rejected_22x20px.svg');
}

.icon-search-btn {
  background: url('../asset/icon/icon15_Search_SearchButton_22x20px.svg');
}

.icon-reset-btn {
  background: url('../asset/icon/icon16_Search_Reset_22x20px.svg');
}

.icon-logout-btn {
  background: url('../asset/icon/icon3_LogOut_23x24px.svg');
}
